SECRET_KEY=
POSTGRES_PASSWORD=
SUPERUSER_PASS=
POSTGRES_USER=admin
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=movies
SUPERUSER_NAME=admin
DJANGO_SETTINGS_MODULE=config.settings.base
ES_HOST=http://es:9200/